<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.mapper.DietRecordMapper">

    <select id="findByDate" resultType="com.sky.entity.DietRecord">
        SELECT * FROM diet_records WHERE date = #{date}
    </select>

    <insert id="insertDietRecord" parameterType="com.sky.entity.DietRecord">
        INSERT INTO diet_records (date, meal, foodname, foodquantity, calorieIntake, totalCalories)
        VALUES (#{date}, #{meal}, #{foodname}, #{foodquantity}, #{calorieIntake}, #{totalCalories})
    </insert>


    <update id="updateDietRecord" parameterType="com.sky.entity.DietRecord">
        UPDATE diet_records
        SET date = #{date},
            meal = #{meal},
            foodname = #{foodname},
            foodquantity = #{foodquantity},
            calorieIntake = #{calorieIntake},
            totalCalories = #{totalCalories}
        WHERE id = #{id}
    </update>

    <delete id="deleteDietRecord" parameterType="Long">
        DELETE FROM diet_records WHERE id = #{id}
    </delete>


</mapper>
