<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.entity.mapper.DietRecordMapper">

    <resultMap id="DietRecordMap" type="com.sky.entity.DietRecord">
        <id column="id" property="id" />
        <result column="date" property="date" />
        <result column="meal" property="meal" />
        <result column="foodname" property="foodname" />
        <result column="foodquantity" property="foodquantity" />
        <result column="calorie_intake" property="calorieIntake" />
    </resultMap>

    <insert id="insertDietRecords" parameterType="list">
        INSERT INTO diet_records (date, meal, foodname, foodquantity, calorie_intake)
        VALUES
        <foreach collection="list" item="record" separator=",">
            (#{record.date}, #{record.meal}, #{record.foodname}, #{record.foodquantity}, #{record.calorieIntake})
        </foreach>
    </insert>

    <select id="getAllDietRecords" resultMap="DietRecordMap">
        SELECT * FROM diet_record
    </select>

</mapper>
